@import "./global.scss";

.startContent{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
}

.logoContainer{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoTitle{
    font-size: 1.8rem;
    font-weight: $medium;
    text-transform: uppercase;
    letter-spacing: $wide;
    text-align: center;
    margin: 2rem 0 0.5rem 0;
    transition: all 300ms ease;
}

.logoSubtitle{
    font-family: $neuehaas;
    font-weight: $light;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: $spaced;
    text-align: center;
    margin: 0;
    transition: all 300ms ease;
}

.linksContainer{
    width: 20%;
    min-height: 100vh;
    display: grid;
    grid-auto-rows: 1fr;
}

.link{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 2px $black solid;
    font-size: 2rem;
    font-weight: $light;
    letter-spacing: $expanded;
}

.firstLink{
    border-top: none;
}

@media (max-width: $medium) {

.startContent{
    flex-wrap: wrap;
}

.linksContainer{
    display: flex;
    width: 100%;
    min-height: 20vh;
    margin: 0;
}

.link{
    border-top: none;
    border-left: 2px solid $black;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
}

.firstLink{
    border-left: none;
}

.logoContainer{
    width: 85vw;
    height: 80vh;
    min-height: 400px;
}

.logo{
    top: 3rem;
    position: relative;
    z-index: -1;
}

.logoTitle{
    font-size: 2rem;
    letter-spacing: $spaced;
    margin: 1.5rem 0 0.2rem 0;
}

.logoSubtitle{
    font-size: 1rem;
    letter-spacing: .3rem;
}
}

@media (max-width: $tablet) {
    .logoContainer{
        width: 100vw;
    }

    .startContent{
        min-height: 85vh;
    }


    .logoTitle{
        font-size: 1.7rem;
    }

    footer{
        z-index: 100;
        position: relative;
    }
}

@media (max-width: $mobile) {
.linksContainer{
    display: none;
}

.logoTitle{
    font-size: 1.2rem;
    margin: 0.5rem 0 .2rem 0;
}
.logoSubtitle{
    font-size: .7rem;
}

}


